TENCENT_SECRET_ID=seu_secret_id_aqui
TENCENT_SECRET_KEY=sua_secret_key_aqui
MP_ACCESS_TOKEN=APP_USR-xxxxxxxx
CORREIOS_CEP_ORIGEM=28035030
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/forja3d
ADMIN_PASSWORD=trocar_em_producao
STORAGE_PATH=./uploads
